body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
    color: #1F1F1F;
}

#main-container {
    display: grid;
    grid-template-rows: 40px 1fr;
}

#container {

    grid-row: 2;

    display: grid;
    
    grid-template-columns: 200px 1fr;

    gap: 10px;
    padding: 10px;
    box-sizing: border-box;

    height: calc(100vh - 40px);

}

#titlebar {

    grid-row: 1;

    background-color: #ebebeb;
    border-bottom: 1px solid #1F1F1F;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
}

#tools {
    grid-column: 1;
    padding: 10px;
    border: 1px solid #1F1F1F;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    row-gap: 10px;

}

#mynetwork {
    grid-column: 2;

    padding: 10px;
    border: 1px solid #1F1F1F;

    height: calc(100vh - 80px);

}

.tool-flex {
    font-family: 'Fira Sans';

    border: 1px solid #C2847A;
    width: 150px;

}

.tool-button {
    background-color: aliceblue;
    border-radius: 10px;
    transition-duration: 250ms;
}

.tool-button:hover {
    background-color: #C2847A;
    color: aliceblue;
    border-color: #1F1F1F;
}

.tool-input {
    background-color: aliceblue;
    border-radius: 5px;
}

.tool-h1 {
    font-size: 23px;
    font-family: 'Fira Sans';
}

.manager-status-h1 {
    font-size: 20px;
}

#manager-status-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    row-gap: 10px;
}

#manager-status-label {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Fira Sans';
}

#manager-status {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Fira Sans';
}