body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#main-container {
    display: grid;
    grid-template-rows: 40px 1fr;
}

#container {

    grid-row: 2;

    display: grid;
    
    grid-template-columns: 200px 1fr;

    gap: 10px;
    padding: 10px;
    box-sizing: border-box;

    height: calc(100vh - 40px);

}

#titlebar {

    grid-row: 1;

    background-color: #f0f0f0;
    border-bottom: 1px solid #d0d0d0;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
    
}

#tools {
    grid-column: 1;
    padding: 10px;
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    row-gap: 10px;

}

#mynetwork {
    grid-column: 2;

    padding: 10px;
    border: 1px solid black;

    height: calc(100vh - 80px);

}

.tool-flex {
    font-family: 'Fira Sans';

    border: 1px solid red;
    width: 150px;

}

.tool-button {
    background-color: aliceblue;
    border-radius: 10px;
    transition-duration: 250ms;
}

.tool-button:hover {
    background-color: red;
    color: aliceblue;
    border-color: black;
}

.tool-input {
    background-color: aliceblue;
    border-radius: 5px;
}

.tool-h1 {
    font-size: 23px;
    font-family: 'Fira Sans';
}

div.vis-manipulation {
    background-color: blue;
}